@keyframes rotate-1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

body {
	background-color: #000;
	overflow: hidden;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.container {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0;
	padding: 0;
	margin: 0 auto;
}

#logo {
	height: 350px;
	width: 350px;
}

.abs-center {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.logo-wrapper-1 {
	height: 370px;
	width: 370px;
	border: 5px solid #fff;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-radius: 50%;
	animation: rotate-1 4s infinite;
}

.logo-wrapper-2 {
	height: 390px;
	width: 390px;
	border: 10px solid #fff;
	border-bottom: none;
	border-left: none;
	border-top: none;
	border-radius: 50%;
	animation: rotate-1 3s infinite;
}

.logo-wrapper-3 {
	height: 410px;
	width: 410px;
	border: 5px solid #002868;
	border-bottom: none;
	border-top: none;
	border-right: none;
	border-radius: 50%;
	animation: rotate-1 3s infinite;
}

.logo-wrapper-4 {
	height: 430px;
	width: 430px;
	border: 10px solid #BF0A30;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 50%;
	animation: rotate-1 5s infinite;
}